.indexNewsContainer {
    width: 100%;
    display: flex;
    padding: 10px;
}

        .indexNewsContainer .indexNewsStyle {
            width: 70%;
        }

                .indexNewsContainer .indexNewsStyle .titleNewsBox img {
                    width: 140px;
                    height: 80px;
                    position: relative;
                    right: -6vh;
                }

                .indexNewsContainer .indexNewsStyle .titleNewsBox h2 {
                    position: relative;
                    top: -7vh;
                    font-size: 4em;
                    font-family: 'Aboreto', cursive;
                    letter-spacing: 3px;
                }

                .indexNewsContainer .indexNewsStyle .indexNews{
                    border-bottom: solid 1px black;
                    padding-bottom: 20px;
                }

                .indexNewsContainer .indexNewsStyle  h2 {
                    font-size: 4em;
                    font-family: 'Aboreto', cursive;
                    letter-spacing: 3px;
                }

        .indexNewsContainer .indexDeports {
            width: 30%;
            border-left: solid black 1px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

                .indexNewsContainer .indexDeports .titleNewsBox img {
                    width: 140px;
                    height: 80px;
                    position: relative;
                    right: -6vh;
                }

                .indexNewsContainer .indexDeports .titleNewsBox h2 {
                    position: relative;
                    top: -7vh;
                    font-size: 4em;
                    font-family: 'Aboreto', cursive;
                    letter-spacing: 3px;
                }

