.indexNewsContainer {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 20px;

}

.indexNewsContainer .indexNewsStyle {
    width: 70%;
}

.indexNewsContainer .indexNewsStyle  h2 {
    font-size: 4em;
    font-family: 'Aboreto', cursive;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-align: center;
}

.indexNewsContainer .indexDeports {
    width: 30%;
    border-left: solid black 1px;
}

.indexNewsContainer .indexDeports h2{
    font-size: 4em;
    font-family: 'Aboreto', cursive;
    letter-spacing: 3px;
    margin-bottom: 40px;
    text-align: center;
}