@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.presentBox {
    width: 75%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px;
    border-bottom: solid 1px black;
}

    .presentBox .presentContainer {
      display: flex;

    }

    .presentBox .presentContainer img {
        width: 50%;
        margin: 10px;     
    }

    .presentBox .presentContainer .presentText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15px;
    }

    .presentBox .presentContainer .presentText h3 {
        font-size: 3.5em;
        text-align: center;
        font-family: 'Aboreto', cursive;
    }

    .presentBox .presentContainer .presentText p {
        font-size: 2.8em;
        text-align: center;
        margin-top: 20px;
        font-family: 'Roboto', sans-serif;
    }

    .presentBox .presentContainer .presentText .presentButton {

        position: relative;
        display: inline-block;
        padding: 15px 30px;
        color: black;
        letter-spacing: 4px;
        font-size: 24px;
        margin-top: 15px;
        overflow: hidden;
        transition: 0.2s;
    }

        .presentBox .presentContainer .presentText .presentButton:hover {
            background-color: #395B64;
            box-shadow: 0 0 10px #395B64, 0 0 40px #395B64, 0 0 80px #395B64;
            transition-delay: 1s;
        }

        .presentBox .presentContainer .presentText .presentButton span{
            position: absolute;
            display: block;
        }

        .presentBox .presentContainer .presentText .presentButton .spanOne {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #395B64);
        }

        .presentBox .presentContainer .presentText .presentButton:hover .spanOne{
            left: 100%;
            transition: 1s;
        }

        .presentBox .presentContainer .presentText .presentButton .spanThree {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, #395B64);
        }

        .presentBox .presentContainer .presentText .presentButton:hover .spanThree{
            right: 100%;
            transition: 1s;
            transition-delay: 0.5s;
        }

        .presentBox .presentContainer .presentText .presentButton .spanTwo {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #395B64);
        }

        .presentBox .presentContainer .presentText .presentButton:hover .spanTwo{
            top: 100%;
            transition: 1s;
            transition-delay: 0.25s;
        }
        
        .presentBox .presentContainer .presentText .presentButton .spanFour {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #395B64);
        }

        .presentBox .presentContainer .presentText .presentButton:hover .spanFour{
            bottom: 100%;
            transition: 1s;
            transition-delay: 0.75s;
        }



@media (max-width: 768px) {

    .presentBox .presentContainer {
        flex-direction: column;
    }

    .presentBox .presentContainer img {
        width: 100%;
        margin: 10px;     
    }
}

@media (max-width: 450px) {

    .presentBox .presentContainer img {
        width: 100%;   
    }

    .presentBox .presentContainer .presentText {
        padding: 10px;
    }

    .presentBox .presentContainer .presentText h3 {
        font-size: 3em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

}
      