.findDeportContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

     .findDeportContainer h3 {
        font-size: 3em;
        text-align: center;
        letter-spacing: 3px;
        font-family: 'Aboreto', cursive;
        padding: 10px;
     }

     .findDeportContainer p {
        font-size: 2.3em;
        text-align: center;
        padding: 15px;
        font-family: 'Roboto', sans-serif;
     }

     .findDeportContainer .formDeports{
        border-top: solid 0.5px black;
     }

     .findDeportContainer .formDeports h4{

        font-size: 2.5em;
        margin-top: 20px;
        margin-bottom: 10px;
        text-align: center;
        font-family: 'Aboreto', cursive;
        letter-spacing: 3px;
        padding: 15px;
     }

     .findDeportContainer .formDeports form {
        display: flex;
        align-items: center;
        justify-content: center;

     }

     .findDeportContainer .formDeports form .inputFormDeport {
        width: 40%;
        border: 1px solid #017bab;
        padding: 11px 10px;
        background-color: #252323;
        font-size: 1.4em;
        font-weight: bold;
        color: #fff;
        margin-right: 10px;
     }

     .findDeportContainer .formDeports form .buttonSendDeport {
        width: 20%;
        height: 40px;
        background-color: #252323;
        border: none;
        color: #fff;
        font-size: 1.5em;
     }

     .findDeportContainer .formDeports form .buttonSendDeport:hover {
        cursor: pointer;
     }




@media (max-width: 768px)  {

   .findDeportContainer p {
      margin-bottom: 25px;

   }

   .findDeportContainer .formDeports h4{
      font-size: 3em;
      margin-bottom: 25px;
   }

   .findDeportContainer .formDeports form .inputFormDeport {
      width: 80%;
      font-size: 2em;
      color: #fff;
      margin-bottom: 30px;
   }

   .findDeportContainer .formDeports form .buttonSendDeport {
      width: 60%;
      font-size: 2em;
   }


}




