@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Roboto:wght@300&display=swap');

.ofertBoxContainer {
    width: 70%;
    margin: 0 auto;
    
}


.ofertBoxContainer h2 {
        font-size: 4em;
        text-align: center;
        margin-top: 100px;
        font-family: 'Aboreto', cursive;
        font-weight: 900;
        margin-bottom: 30px;
    }

.ofertBoxContainer .ofertsContainerStyle {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

